<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body style="text-align:center">
계정 정보를 입력해주세요.

<form action="joinUs.do" method="post">
    <div>
        <lavel for="userId">아이디 : </lavel>
        <input id="userId" name="userId" type="text">
    </div>
    <div>
        <lavel for="password">비밀번호 : </lavel>
        <input id="password" name="password" type="password">
    </div>
    <div>
        <lavel for="userName">닉네임 : </lavel>
        <input id="userName" name="userName" type="text">
    </div>

    <input type="submit" value="가입하기">
</form>
</body>
</html>